name: Update Static Site Mirror

on:
  schedule:
    - cron: '0 3 * * *'  # Every day at 03:00 UTC
  workflow_dispatch:     # Allow manual trigger

jobs:
  httrack:
    runs-on: ubuntu-latest
    outputs:
      artifact-name: mirror-site
    steps:
    - name: Checkout the repository
      uses: actions/checkout@v4

    - name: Load environment variables
      run: |
        source .env
        echo "DOMAIN=$DOMAIN" >> $GITHUB_ENV

    - name: Install HTTrack
      run: sudo apt-get update && sudo apt-get install -y httrack

    - name: Run HTTrack
      run: |
        bash scripts/download_mirror.sh "${{ env.DOMAIN }}" "mirror-site" 3

    - name: Upload mirror artifact
      uses: actions/upload-artifact@v4
      with:
        name: mirror-site
        path: mirror-site

  fix_links:
    needs: httrack
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the repository
      uses: actions/checkout@v4

    - name: Load environment variables
      run: |
        source .env
        echo "BASE_URL=$BASE_URL" >> $GITHUB_ENV
        echo "NEW_BASE_URL=$NEW_BASE_URL" >> $GITHUB_ENV

    - name: Download mirror artifact
      uses: actions/download-artifact@v4
      with:
        name: mirror-site
        path: mirror-site

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install Python dependencies
      run: pip install -r requirements.txt

    - name: Run cleanup and fixing script
      run: |
        python scripts/index_cleanup.py mirror-site
        python scripts/fix_links.py mirror-site "${{ env.BASE_URL }}" "${{ env.NEW_BASE_URL }}"

    - name: Upload fixed mirror artifact
      uses: actions/upload-artifact@v4
      with:
        name: fixed-mirror-site
        path: mirror-site

  commit_and_push:
    needs: fix_links
    runs-on: ubuntu-latest
    
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v4

    - name: Download fixed mirror artifact
      uses: actions/download-artifact@v4
      with:
        name: fixed-mirror-site
        path: public

    #- name: Setup Pages
    #  uses: actions/configure-pages@v5

    #- name: Upload artifact
    #  uses: actions/upload-pages-artifact@v3
    #  with:
    #    path: public
    
    #- name: Deploy to GitHub Pages
    #  id: deployment
    #  uses: actions/deploy-pages@v4
    - name: Publish in GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: public
        publish_branch: gh-pages
        publish_force: true
